---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import PersonalProjects from "@/components/PersonalProjects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("meta.title")} description={t("meta.description")}>
  <div class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </div>
  <div class="px-4 space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        {t("section.experience")}
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        {t("section.projects")}
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="personal-projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        {t("section.personal_projects")}
      </TitleSection>
      <PersonalProjects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        {t("section.about")}
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
