---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const personalImageAlt = t('about.name_alt');
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      {t('about.paragraph1')} <strong>{t('about.paragraph1_highlight')}</strong>.
    </p>

    <p>
      {t('about.paragraph2')} <strong>{t('about.paragraph2_highlight')}</strong>{t('about.paragraph2_continuation')}
    </p>

    <p>
      {t('about.paragraph3')} <strong>{t('about.paragraph3_highlight')} <em class="italic">{t('about.paragraph3_emphasis')}</em> {t('about.paragraph3_continuation')}</strong>{t('about.paragraph3_end')}
    </p>
  </div>

  <img width="200" height="200" src="/raulfdez.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>